<div class="home-container">
  <div class="home-btns  flex-1">
    <button class="login">L <br>o <br>g <br>i <br>n</button>
  </div>

  <div class="flex-13">
    <h1 class="welcome">Welcome to</h1>
    <h1 class="snacky">Snacky</h1>
    <p class="about">Snacky is your new favorite platform for sharing your favorite snacks with your best friends, your mom or with the whole world!</p>
    <button class="get-started-btn">get started!</button>
  </div>

  <div class="home-btns faq-signup flex-1">
    <button class="signup flex-1">S<br>i<br>g<br>n<br>  U<br>p</button>
    <button class="faq flex-1">F<br>A<br>Q</button>
  </div>
</div>
